@viewport {
    width: device-width;
    zoom: 1.0;
}

body {
    margin: 0;
    background: rgb(189, 189, 189);
    padding: 0;
}
header {
    margin: 0;
    padding: 1.25rem 0rem 1.25rem 0rem;
    background: rgb(85, 85, 85);
    text-align: center;

}
section {
    margin: 0;
    background: rgb(189, 189, 189);
    color: white;
    padding: 1.25rem;
}

.sextet {
    padding: 3.125rem;
}

.triple1 {
    background: url('https://colinhannigan.github.io/img/ireland2a.jpg');
} 

.triple1:hover {
    background: url('https://colinhannigan.github.io/img/ireland2b.jpg');
}

.tripleSection {
    margin: 0;
    padding: 0;
    background: rgb(189, 189, 189);
    color: rgb(105, 105, 105);
    display: flex;
    flex-direction: row;
    font-size: 0rem;
}
.tripleSection div {
    margin: 0;
    float: left;
    width: 33.3%;
    padding: 0;
}

.desktop {
    padding: 0rem;
    list-style-type: none;
    margin-right: 1.25rem;
    display: inline-block;
}

.siteLinks a:not(.logo) {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
    color: rgb(189, 189, 189);
}

.desktop .logo {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
    color: white;
    border: .3125rem solid white;
    padding: .625rem;
}

.mobile .logo {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
    color: white;
    border: .3125rem solid white;
    padding: .625rem;
}
.mobile {
    display: none;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
    color: rgb(189, 189, 189);
}


.contact li {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
    display: inline-block;
    margin-right: .625rem;
    vertical-align: middle;
}

.moreInfo {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    position: relative;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.4em;
    padding: 2rem 0rem 0rem 0rem;
}

.moreInfoLink {
    color: rgb(85, 85, 85);
    position: relative;
    margin: 0;
    padding: .625rem 0rem .625rem 0rem;
    text-align: center;
    border: .3125rem solid  rgb(85, 85, 85);
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    position: relative;
    text-align: center;
    padding: 3.125rem 0rem .625rem 0rem;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
}

.intro {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 2rem 2rem;
    position: relative;
    text-align: center;

}
footer {
    border-top: .0625rem solid #d5d5d5;
    font-size: .8em;
    margin: 0;
    background: rgb(85, 85, 85);
    color: white;    
    padding: .0625rem;
}

ul.posts {
    margin: 1.25rem auto 2.5rem;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


@media screen and (max-width:848px) {
    .desktop {
        display: none;

    }
    .mobile:not(.logo) {
        position: relative;
        list-style-type: none;
        margin-right: 1.25rem;
        display: inline-block;
        text-align: center;
    }
    .mobile.logo {
        position: relative;
        display: block; 
        padding: 0rem 0rem 2rem 0rem;
        margin: 0;   
    }



}