body {
    margin: 0;
    background: rgb(189, 189, 189);
    color: rgb(105, 105, 105);
    padding: 0;
}
header {
    margin: 0;
    padding: 20px;
    background: rgb(85, 85, 85);
    color: white;
    text-align: center;

}
section {
    margin: 0;
    background: rgb(189, 189, 189);
    color: white;
    padding: 20px;
}
#tripleSection {
    margin: 0;
    background: rgb(189, 189, 189);
    color: rgb(105, 105, 105);
    padding: 20px;
    display: flex;
    flex-direction: row;
}
#triple {
    margin: auto;
}
header li {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style-type: none;
    font-weight: bold;
    margin-right: 20px;
    display: inline-block;
}

header a.siteLinks {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
    color: rgb(189, 189, 189);
}

.contact li {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    padding: 0px 0px 10px 0px;
}

.header li {
    display: inline-block;
    margin-right: 20px;
}
.logo {
    color: white;
}

.moreInfo {
    color: rgb(85, 85, 85);
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    margin: 0;
    background: rgb(85, 85, 85);
    color: white;    
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
