@viewport {
    width: device-width;
    zoom: 1.0;
}

body {
    margin: 0;
    background: rgb(210, 166, 121);
    padding: 0;
}
header {
    margin: 0;
    padding: 1.25rem 0rem 1.25rem 0rem;
    background: rgb(85, 85, 85);
    text-align: center;

}
section {
    margin: 0;
    background: rgb(210, 166, 121);
    color: white;
}

.sextet {
    padding: 3.125rem;
}

.tripleTL {
    background: url('https://colinhannigan.github.io/img/ireland2a.jpg') no-repeat;
    background-size: 25vh;
}
.tripleTL:hover {
    background: url('https://colinhannigan.github.io/img/ireland2b.jpg') no-repeat;
    background-size: 25vh;
}
.tripleTM {
    background: url('https://colinhannigan.github.io/img/ireland1a.jpg') no-repeat;
    background-size: 25vh;
}
.tripleTM:hover {
    background: url('https://colinhannigan.github.io/img/ireland1b.jpg') no-repeat;
    background-size: 25vh;
}
.tripleTR {
    background: url('https://colinhannigan.github.io/img/ireland3a.jpg') no-repeat;
    background-size: 25vh;
}
.tripleTR:hover {
    background: url('https://colinhannigan.github.io/img/ireland3b.jpg') no-repeat;
    background-size: 25vh;
}
.tripleBL {
    background: url('https://colinhannigan.github.io/img/ireland4a.jpg') no-repeat;
    background-size: 25vh;
}
.tripleBL:hover {
    background: url('https://colinhannigan.github.io/img/ireland4b.jpg') no-repeat;
    background-size: 25vh;
}
.tripleBM {
    background: url('https://colinhannigan.github.io/img/ireland5a.jpg') no-repeat;
    background-size: 25vh;
}
.tripleBM:hover {
    background: url('https://colinhannigan.github.io/img/ireland5b.jpg') no-repeat;
    background-size: 25vh;
}
.tripleBR {
    background: url('https://colinhannigan.github.io/img/ireland6a.jpg') no-repeat;
    background-size: 25vh;
}
.tripleBR:hover {
    background: url('https://colinhannigan.github.io/img/ireland6b.jpg') no-repeat;
    background-size: 25vh;
}

.tripleSection {
    padding: 0;
    background: rgb(189, 189, 189);
    color: rgb(105, 105, 105);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tripleSection div {
    margin: 2px;
    height: 17vh;
    width: 25vh;
    padding: 0;
    background-color: pink;
}

.desktop {
    padding: 0rem;
    list-style-type: none;
    margin-right: 1.25rem;
    display: inline-block;
}

.siteLinks a:not(.logo) {
    font-family:'Garamond';
    font-weight: bold;
    color: rgb(189, 189, 189);
}

.desktop .logo {
    font-family:'Garamond';
    font-weight: bold;
    color: white;
    border: .3125rem solid white;
    padding: .625rem;
}

.mobile .logo {
    font-family:'Garamond';
    font-weight: bold;
    color: white;
    border: .3125rem solid white;
    padding: .625rem;
}
.mobile {
    display: none;
    font-family:'Garamond';
    font-weight: bold;
    color: rgb(189, 189, 189);
}


.contact li {
    font-family:'Garamond';
    font-weight: bold;
    display: inline-block;
    margin-right: .625rem;
    vertical-align: middle;
}

.moreInfo {
    font-family:'Garamond';
    position: relative;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.4em;
    padding: 2rem 0rem 0rem 0rem;
}

.moreInfoLink {
    color: rgb(85, 85, 85);
    position: relative;
    margin: 0;
    padding: .625rem 0rem .625rem 0rem;
    text-align: center;
    border: .3125rem solid  rgb(85, 85, 85);
}

#cv {
    padding: 1rem 0rem 2rem 0rem;
}

.iFrameDesktop {
display: block;
}

.iFrameMobile {
display: none;
}

#cvLink {
    padding: .625rem .5rem .625rem .5rem;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Garamond';
    position: relative;
    text-align: center;
    padding: 3.125rem 0rem .625rem 0rem;
}
h2 {
    font-size: 1.5em;
    font-family:'Garamond';
    position: relative;
}
h2 p{
margin: 0;
border: .3125rem solid white;
padding: 0rem 1rem 0rem 1rem;
}
.teaching div{
    margin:  0rem 0rem 10rem 0rem;
}
.teaching div div{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
}
.currentCourses div li,.previousCourses div li{
    margin-right: 1rem;
    background-size: cover;
    width: 40%;
    height: 100px;
    position: relative;
    padding: 0rem 0rem 0rem 0rem;
}
.currentCourses div:first-of-type{
    margin: 0rem 1rem 0rem 1rem;
}
.previousCourses div:first-of-type{
    margin: 0rem 1rem 0rem 1rem;
}

.currentCourses div li:not(.current){
    display: none;
}
.previousCourses .current{
    display: none;
}
    .introIR{
        background: url('http://www.apa.org/Images/cirp-title-image_tcm7-218184.jpg') no-repeat;
    }
    .politicalLife{
        background: url('https://stmedia.stimg.co/ows_153964203174289.jpg?auto=compress&crop=faces&dpr=1&w=525') no-repeat;
    }
    .conflictAndHumanRights{
        background: url('https://img2.tgcom24.mediaset.it/binary/articolo/ansa/16.$plit/C_2_articolo_3032365_upiFoto1F.jpg') no-repeat;
    }
    .modelUN{
        background: url('https://www.txstate.edu/cachefac1e407d0f65556452535d8795e6adf/imagehandler/scaler/gato-docs.its.txstate.edu/jcr:d9d6c944-bdfa-435c-95fc-2da85c11f961/United-Nation-everything-pr.jpg?mode=fit&width=1550') no-repeat;
    }
    .latinAmericanPolitics{
        background: url('https://i.pinimg.com/564x/6d/85/b9/6d85b931aaaf64c87582285634ea84ad--south-america-map-sud-america.jpg') no-repeat;
   }
    .revolutionsAndSocialMovements{
        background: url('http://laoms.org/wp-content/uploads/2017/12/img_5941.jpg') no-repeat;
    }
    .policyMemo{
        background: url('https://www.deccanherald.com/sites/dh/files/article_images/2018/01/24/655644.jpg') no-repeat;
    }
    .FYS{
        background: url('https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/hostedimages/1437202991i/15548077.jpg') no-repeat;
    }
section.teaching div div li:hover{
    opacity: .5;
}

section.teaching div div li p{
    padding: 0rem 0rem 0rem 0rem;
    text-align: center;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
}

.intro {
    font-family:'Garamond';
    padding: 2rem 2rem;
    position: relative;
    text-align: center;

}
footer {
    border-top: .0625rem solid #d5d5d5;
    font-size: .8em;
    margin: 0;
    background: rgb(85, 85, 85);
    color: white;
    padding: .0625rem;
}

ul.posts {
    margin: 1.25rem auto 2.5rem;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


@media screen and (max-width:848px) {
    .desktop {
        display: none;

    }
    .mobile:not(.logo) {
        position: relative;
        list-style-type: none;
        margin-right: 1.25rem;
        display: inline-block;
    }
    #aboutMobile {
        position: relative;
        left: -1.1rem;
    }

    #logoMobile {
        position: relative;
        left: -1.1rem;
    }

    .mobile.logo {
        position: relative;
        display: block;
        padding: 0rem 0rem 2rem 0rem;
        margin: 0;
    }
    .moreInfo {
        font-family:'Garamond';
        position: relative;
        text-align: center;
        font-size: 1.1em;
        font-weight: bold;
        line-height: 1.1em;
        padding: 2rem 0rem 0rem 0rem;
    }
    .moreInfoLink {
        color: rgb(85, 85, 85);
        position: relative;
        margin: 0;
        padding: .625rem .25rem .625rem .25rem;
        text-align: center;
        border: .25rem solid  rgb(85, 85, 85);
    }


    .contact img {
        width: 1.1rem;
    }
    .cvFrame {
        background-color: red;
        position: relative;
        text-align: center;
        width: "50%";
        height: "50%"
    }

    .iFramePDF {
        position: relative;
        overflow: hidden;
    }

    .iFrameDesktop {
        display: none;
        }

    .iFrameMobile {
    display: block;
    }
}
