    
<!DOCTYPE html>
<html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="MobileOptimized" content="320">
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<!--Netflix example custom stylesheets -->
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
	        	<li><a href="/teaching">Teaching</a></li>
	        	<li><a href="/research">Research</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
        		<li><a href="/contact">Contact</a></li>
    		</ul>
		</nav>
		<div class="container">

		{{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
			<p>Contact me: </p>
			<a href="//github.com/colinhannigan" target="_blank"><img class="icon" width="30px" src="https://colinhannigan.github.io/img/github.svg" alt="github" /></a>
			<a href="//twitter.com/HanniganColin" target="_blank"><img class="icon" width="30px" src="https://colinhannigan.github.io/img/twitter.svg" alt="twitter" /></a>
			<a href="mailto:channigan001@csbsju.edu" target="_blank"><img class="icon" width="30px" src="https://colinhannigan.github.io/img/email.svg" alt="email" /></a>
			<a href="//linkedin.com/in/cjh2112/" target="_blank"><img class="icon" width="30px" src="https://colinhannigan.github.io/img/linkedin.svg" alt="linkedin" /></a>
			<a href="//scholar.google.com/citations?hl=en&user=baw_A9oAAAAJ" target="_blank"><img class="icon" width="30px" src="https://colinhannigan.github.io/img/scholar.svg" alt="linkedin" /></a>
			<a href="//colinhannigan.github.io/blog/atom" target="_blank"><img class="icon" width="30px" src="https://colinhannigan.github.io/img/rss.svg" alt="rss" /></a>
			</ul>
		</footer>
	</body>
</html>
