
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="MobileOptimized" content="320">
	<title>Colin Hannigan</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<!--Netflix example custom stylesheets -->
</head>

<header>
    <nav>
        <ul>
            <li class="siteLinks mobile logo" id="logoMobile" ><a class="logo" a style="font-size:30px" href="/">Colin J. Hannigan</a></li>
            <li class="siteLinks mobile" id="aboutMobile" ><a href="/about">About</a></li>
            <li class="siteLinks mobile" ><a href="/cv">CV</a></li>
            <li class="siteLinks mobile" ><a href="/teaching">Teaching</a></li>
            <li class="siteLinks mobile" ><a href="/research">Research</a></li>
            <li class="siteLinks mobile" ><a href="/blog">Blog</a></li>
            <li class="siteLinks mobile" ><a href="/contact">Contact</a></li>
            <li class="siteLinks desktop" id="aboutDesktop"><a href="/about">About</a></li>
            <li class="siteLinks desktop" ><a href="/cv">CV</a></li>
            <li class="siteLinks desktop" ><a href="/teaching">Teaching</a></li>
            <li class="siteLinks desktop logo" id="logoDesktop" ><a class="logo" a style="font-size:30px" href="/">Colin J. Hannigan</a></li>
            <li class="siteLinks desktop" ><a href="/research">Research</a></li>
            <li class="siteLinks desktop" ><a href="/blog">Blog</a></li>
            <li class="siteLinks desktop" ><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>